<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barswipe">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SwipeBackAppTheme">

        <activity
            android:name=".LaunchActivity"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:description="@string/des_base"
            android:icon="@mipmap/icon"
            android:label="滑动删除" />
        <activity android:name=".SecondActivity" />

        <activity android:name=".ThirdActivity" />
        <activity
            android:name=".BlurActivity"
            android:theme="@style/Theme.Translucent" />

        <activity android:name=".FourthActivity" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".TrignalActivity"
            android:description="@string/des_Test"
            android:icon="@mipmap/ic_launcher"
            android:label="倾斜Textview" />

        <service android:name=".FloatView.FloatWindowService" />

        <activity
            android:name=".Scroller.ScrollerActivity"
            android:description="@string/str_scroller"
            android:icon="@mipmap/ic_launcher"
            android:label="Scroller学习" />
        <activity
            android:name=".Scroller.MultiScreenActivity"
            android:description="@string/str_scroller1"
            android:icon="@mipmap/ic_launcher"
            android:label="Scroller进一步学习" />
        <activity
            android:name=".snapscrollview.ProductDetailActivity"
            android:description="@string/str_prode"
            android:icon="@mipmap/ic_launcher"
            android:label="商品详情学习" />
        <activity
            android:name=".ViewDragHelper.ViewDragHelperStudyActivity"
            android:description="@string/str_viewDrageHelper"
            android:icon="@mipmap/ic_launcher"
            android:label="ViewDragHelper学习" />
        <activity
            android:name=".EaseInterpolator.MainActivityAnimation"
            android:description="@string/str_ainimation"
            android:icon="@mipmap/ic_launcher"
            android:label="EaseAnimation学习" />
        <activity
            android:name=".DragGridView.gridview.MainActivityDragGridView"
            android:description="@string/str_drage"
            android:icon="@mipmap/ic_launcher"
            android:label="DragGridView 学习" />

        <activity
            android:name=".DragGridView.custom.DraggableGridViewSampleActivity"
            android:description="@string/str_ExpanAbleTextView1"
            android:icon="@mipmap/ic_launcher"
            android:label="DraggableGridView学习" />

        <activity
            android:name=".ExpandableTextView.DemoActivity"
            android:description="@string/str_ExpanAbleTextView"
            android:icon="@mipmap/ic_launcher"
            android:label="ExpandableTextView 学习" />

    </application>

</manifest>
